{% extends "shop/basic.html" %}

{% block title %} Contact Us{% endblock %}

{% block body %}
<div class="container">
    <h2>Contact Us</h2>
    <form action="/shop/contact/" method="post"> {% csrf_token %}
    <div class="mb-3">
  <label for="exampleFormControlInput1"  class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Enter your complaint here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="desc" rows="3"></textarea>
</div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
   </form>
</div>

{% endblock %}
